img{
  border-radius:50%;
  border:2px solid white;

}
font{
  color:Red;
}

img:hover {
  border-radius:20%;
  border: 3px solid hotpink;
  box-shadow: 0 0 10px 10px lightpink;
  transform: scale(2);
  transition: 1s;
}
h2{
  color:purple;
 font-size: 25px;
 text-align: right;
}
body 
{
  background-color:black;
}
marquee
{
  border:2px solid white;
}
h3
{
 text-align: right;
 color: purple;
}
a
{
  color:white;
  background-color:none;
border:5px solid white;  
font-size: 50px
}
a:hover
{
  background-color:lightpink;
  box-shadow: 0 0 10px 10px lightpink;
}
